@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="centered">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ottawa, ON" disabled>
        </div>
        <div class="form-group">
            <select class="form-control" placeholder="Hello">
                <option>Default select</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>