<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/JS/BYE_script.js"></script>
    <link rel="stylesheet" href="~/CSS/StyleSheet.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body id="bg-col">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="head-foot-col">
        <a class="navbar-brand" href="/"><img src="~/Images/1.png" height="50 width="300"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="nav navbar-nav navbar-right" id="headerFont">
                <li><a href="#" class="nav-link"> What we do</a></li>
                <li><a href="#" class="nav-link">Add your venue</a></li>
                <li><a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Login</a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <!-- Button trigger modal -->
   

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="headerFont">Login</h5>
                </div>
                <div class="modal-body">
                    <form asp-controller="Home" asp-action="Login">
                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="userName" required>
                            <br />
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" required>
                            <br />
                            <button type="submit">Login</button>
                            <br />  
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>
                        <div class="container" style="background-color:#f1f1f1">
                            <span>Not a <a href="@Url.Action("Register", "Home")">user?</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <br />

</body>

</html>
<footer class="footer navbar-fixed-bottom" id="footerFont">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>Build Your Event</p>
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#">About us</a></li>
                    <li><a class="nav-link" href="#">Careers</a></li>
                    <li><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>List your venue</p>
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#">How it works</a></li>
                    <li><a class="nav-link" href="#">Sign up free</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>Support</p>
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#">Cancellations</a></li>
                    <li><a class="nav-link" href="#">Liability & insurance</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>Legal</p>
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#">Terms</a></li>
                    <li><a class="nav-link" href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
        <p style="text-align:center;">Copyright 2018 (c) Build Your Event | Built in Ottawa</p>
    </div>

</footer>